{% extends 'base.html' %}
{% block content %}

{% if form.errors %}
<p class="title">
  Your username and password didn't match. Please try again.
</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="title">
      Your account doesn't have access to this page.
    </p>
    {% else %}
    <p class="title">
      Please login
    </p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<table>
  <tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
  </tr>
  <tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
  </tr>
</table>

<p class="smalltitle">
  <input type="submit" value="Login" />
  <input type="hidden" name="next" value="" />
</p>
</form>

<p class="smalltitle">
  <a href="{% url 'password_reset' %}">Lost password?</a>  | <a href="/">Home</a></b>
</p>

{% endblock %}
