{% extends 'base.html' %}
{% block content %}

<h1>Please login</h1>

  {% if form.errors %}
    <p class="error">Sorry, your username and/or password didn't match.
    <p class="margin-bottom">Please try again.</p>
  {% else %}
    <p>After login you can enter or change your personal data.</p>
  {% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <h2>Your account doesn't have access to this page.</h2>
  {% else %}
    <p>&nbsp;</p>
  {% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<table id="login">
  <tr>
  {#<td>{{ form.username.label_tag }}</td>#}
  <td>Login email:</td>
  <td>{{ form.username }}</td>
  </tr>
  <tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
  </tr>
  <tr>
</table>

<p class="margin-top">
  <input type="submit" value="Login" />
  <input type="hidden" name="next" value="" />

</form>


<p class="margin-top-big">
  <a href="{% url 'password_reset' %}">Password reset?</a></b>


{% endblock %}
