{% extends "base.html" %}
{% block content %}

{% if validlink %}
  <h1>New password</h1>
  <form action="" method="post">
    <div style="display:none">
      <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <table>
      <tr>
        <td>{{ form.new_password1.errors }}
          <label for="id_new_password1">New password:</label></td>
         <td>{{ form.new_password1 }}</td>
       </tr>
       <tr>
         <td>{{ form.new_password2.errors }}
           <label for="id_new_password2">Confirm password:</label></td>
         <td>{{ form.new_password2 }}</td>
       </tr>
    </table>
    <br />
      <input type="submit" value="Change password" />
   </form>
{% else %}
  <p>
    <h2>Password reset failed</h2>
  </p>
  <h2>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h2>
{% endif %}

{% endblock %}
