{% extends "base.html" %}
{% block content %}

<div id="password_reset_confirm">

    {% if validlink %}
    <h1>New password</h1>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>

        <table>
            <tr>
                <td><label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr><tr>
                <td><label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </table>
        {% if form.new_password1.errors or form.new_password2.errors %}
        <p class="error">Sorry, your password input is not valid.</p>
        <p class="p1">Possible errors: too short (must be at least 8 characters), too simple (numbers only is not allowed), no match between passwords.</p>
        {% endif %}
        <p class="p2">
            <a href="{% url 'login'%}?next={{request.path}}"><button type="button">&laquo; Back to login</button></a>
            <input type="submit" value="Change password" />
        </p>
    </form>

    {% else %}
    <h1>Password reset failed</h1>
    <p>Sorry, an error has occurred. The password reset failed. Possibly because the password reset link has already been used...</p>
    <p class="p1">
        <a href="{% url 'password_reset' %}">Click here for another password reset!</a>
    </p>
    {% endif %}

</div>
{% endblock %}
