{% extends 'base.html' %}
{% block content %}

<h1>Our mission</h1>
<h3>
  We are two Tango-DJs located in Switzerland aiming for a good sound
  in milongas. By creating this website we hope to bring together DJs
  and milonga organizers who share this aim:
  <ul>
    <li>DJs have the opportunity to share or explain their instruments, equipment and ideas.
    <li>Beginning and advanced DJs find inspiration to improve their work concerning sound quality.
    <li>Milonga organizers find support in locating DJs who provide good sound.
  </ul>
</h3>

<h3>
  <br />© 2017 - {{CURRENT_YEAR}}, Albert Alt (DJ Alberto) & René Maurer (DJ René)
</h3>

{% endblock %}
