{% extends "base.html" %}
{% block content %}

<h1>Change password</h1>

  <form action="" method="post">
    {% csrf_token %}

    {% if form.new_password1.errors or form.new_password2.errors %}
    <p class="error">Sorry, your password input is not valid.</p>
    <p>Possible errors: too short (must be at least 8 characters), too simple (numbers only is not allowed), no match between passwords.</p>
    {% else %}
    <p>&nbsp;</p>
    {% endif %}
    <p>&nbsp;</p>
    <table>
      <tr>
        <td><label for="id_new_password1">New password:</label></td>
        <td>{{ form.new_password1 }}</td>
       </tr>
       <tr>
         <td><label for="id_new_password2">Confirm password:</label></td>
         <td>{{ form.new_password2 }}</td>
       </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
      <a href="/djedit"><button type="button">Abort</button></a>&nbsp;&nbsp;
      <input type="submit" value="Change password">
    </p>
  </form>

{% endblock %}
