{% extends 'base.html' %}
{% block content %}

<h1>Get in touch with us</h1>

<p>
  We love to hear from engaged Tango DJs and DJanes providing good
  sound for their audience.<br />We really appreciate you taking the time
  to get in touch. Please fill in the form below.

<p>
  <br />We will get back to you shortly, usually within 2-3 days. You
  will receive an instruction<br />as well as login credentials so you
  can enter yourself to the list.<br /><br />You can remove your data
  at any time. Please send us an email and we will do this for you.

<p>
  By submitting your email address as well as your real name,
  you acknowledge that<br />you have read the Minimal Sound Requirement
  Statement below.

<h2>Please enter your data</h2>
  <form role="form" action="" method="post">
  {% csrf_token %}
  <table <table id="contact">
    {{ form.as_table }}
  </table>
  <br />
  <button type="submit">Submit</button>
</form>

<h2><br />Minimal Sound Requirement Statement</h2>
<p>
  <ul>
    <li>- We use the best recordings in the best available quality.
    <li>- We use good quality audio tools and software (interfaces/soundcards/DACs/soundprocessors).
    <li>- We don't play lossy formats (e.g. mp3, aac, youtube-downloads ...).
  </ul>
            
{% endblock %}
