{% extends 'base.html' %}
{% block content %}
{% spaceless %}

<h1>Get in touch with us</h1>

<p class="margin-bottom">
  We love to hear from engaged Tango DJs and DJanes providing good
  sound for their audience. We really appreciate your taking the time to
  get in touch.

<p class="margin-bottom">
  Please fill in the form below. We will get back to you shortly,
  usually within two or three days. We will never pass any of your
  data to third parties.

<p class="margin-bottom">
  For registration purpose please use the
  <a href ="{% url 'register' %}">registration site</a>.

<p class="margin-top">&nbsp;
<h2>Please enter your data</h2>
  <form role="form" action="" method="post">
    {% csrf_token %}
    <table id="contact">
     {{ form.as_table }}
    </table>
    <br />
    <button type="submit">Submit</button>
  </form>

{% endspaceless %}
{% endblock %}
