{% extends 'base.html' %}
{% block content %}

<h1>Get in touch with us</h1>

<p class="margin-bottom">
  We love to hear from engaged Tango DJs and DJanes providing good
  sound for their audience. We really appreciate your taking the time to
  get in touch.

<p class="margin-bottom">
  Please fill in the form below. We will get back to you shortly,
  usually within two or three days. You will receive instructions as
  well as login credentials to enter yourself on the list.

<p class="margin-bottom">
  Please note, that you can remove your data at any time. Please send
  us an email and we will do this for you. We will never pass your
  email address to third parties.
  
<p class="margin-bottom">
  By submitting your email address as well as your real name, you
  acknowledge that you have read the Minimal Sound Requirement
  Statement below.

<h2>Please enter your data</h2>
  <form role="form" action="" method="post">
    {% csrf_token %}
    <table id="contact">
     {{ form.as_table }}
    </table>
    <br />
    <button type="submit">Submit</button>
  </form>

<p class="margin-bottom">
  
<h2>Minimal Sound Requirement Statement</h2>
<ul>
  <li class="first">We use the best available transfers of the original recordings.
  <li>We use good quality audio tools and software (interfaces, sound cards, DACs, sound processors).
  <li>We don't play lossy formats (e.g. mp3, aac, youtube-downloads ...).
</ul>
            
{% endblock %}
