{% extends 'base.html' %}
{% block content %}

<h1>Copyright Notice</h1>

<div class="license">

<p>
  tangodjsforgoodsound is copyrighted Free Software by all
  contributors.
  

<p class="margin-bottom">
  Copyright © 2017 René Maurer and Albert Alt.

<p class="margin-bottom">
  tangodjsforgoodsound is implemented with django, the open web
  framework for perfectionists with deadlines. See
  <a href="https://www.djangoproject.com">https://www.djangoproject.com</a>.

<p class="margin-bottom">
  django uses Python, the powerful and friendly programming language,
  which runs everywhere. Python is open. See
  <a href="https://www.python.org">https://www.python.org</a>.
  
<p class="margin-bottom">
  tangodjsforgoodsound is free software; you can redistribute it
  and/or modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 2 of
  the License, or (at your option) any later version.

<p class="margin-bottom">
  tangodjsforgoodsound is distributed in the hope that it will be
  useful, but WITHOUT ANY WARRANTY; without even the implied warranty
  of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See
  the <a href="http://www.gnu.org/licenses/gpl-2.0.txt">GNU General
  Public License</a> for more details.

</div>

{% endblock %}
