{% extends 'base.html' %}
{% block content %}
{% block djeditbase %}
{% endblock %}
<p>
  Please remember the Minimal Sound Requirement Statement below.
  <form role="form" action="" method="post">
  {% csrf_token %}
  {% if form.namesort.errors.as_text %}
    {% if form.email.errors.as_text or form.website.errors.as_text or form.soundprocessor.errors.as_text %}
      <p>&nbsp;<p>The <i>Login Address</i> is already known in the system.</p>
      <p>Please correct also the <i>Wrong Data</i> in your input!</p>
    {% else %}
      <p>&nbsp;<p>The <i>Login Address</i> is already known in the system!</p>
    {% endif %}
  {% else %}
    {% if form.email.errors.as_text or form.useremail.errors.as_text or form.website.errors.as_text or form.soundprocessor.errors.as_text or form.music_remark.errors.as_text or form.equipment_remark.errors.as_text %}
      <p>&nbsp;<p>Please correct the <i>Wrong Data</i> in your input!</p>
    {% endif %}
  {% endif %}
  <table id="djedit">
    <tr>
      <td>&nbsp;</td><td>{{ form.namesort.as_hidden }}</td>
    </tr><tr>
      <td><b>Account data<b></td><td>&nbsp;</td>
   {# </tr><tr> #}
   {#   <td class="infocell" colspan="2">&nbsp;<br />Account data are used for login and password reset (not visible).<br /> #}
   {#    It is recommended to use a differnt email adresses for login and the website.<br />&nbsp;</td> #}
    </tr><tr>
      {% if form.useremail.errors.as_text %} 
      <td class="errorcell">Email:</td><td>{{ form.useremail }}</td>
      {% else %}
      <td>Login email:</td><td>{{ form.useremail }}</td>
      {% endif %}
    </tr><tr>
      <td><p><a href="password"><button type="button">Change password</button></a></p></td><td class="infocell">&rarr; Used for login and password reset (not visible),<br />
      &nbsp; &nbsp; best if not identical with address on website.</td>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td><b>Personal<b></td><td>&nbsp;</td>
    </tr><tr>
      <td>DJ-Name:</td><td>{{ form.name }}</td>
    </tr><tr>
      <td>Gender:</td><td>{{ form.gender }}</td>
    </tr><tr>
      <td>Country:</td><td>{{ form.country }}</td>
    </tr><tr>
      <td>Region or City:</td><td>{{ form.province }}</td>
    </tr><tr>
      <td>Since:</td><td>{{ form.since }}</td>
    </tr><tr>
      <td>Number of Milongas:</td><td>{{ form.number_of_milongas }}</td>
    </tr><tr>
      {% if form.website.errors.as_text %} 
      <td class="errorcell">Website:</td><td>{{ form.website }}</td>
      {% else %}
      <td>Website:</td><td>{{ form.website }}</td>
      {% endif %}
    </tr><tr>
      {% if form.email.errors.as_text %} 
      <td class="errorcell">Email:</td><td>{{ form.email }}</td>
      {% else %}
      <td>Email:</td><td>{{ form.email }}</td>
      {% endif %}
    </tr><tr>
      <td></td><td class="infocell">&rarr; Optional email address for contacting you,<br />
        &nbsp; &nbsp; will be obfuscated - against SPAM.</td>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td><b>Musica<b></td><td>&nbsp;</td>
    </tr><tr>
      <td>Style:</td><td>{{ form.style }}</td>
    </tr><tr>
      <td>Tandas and cortinas:</td><td>{{ form.cortinas }}</td>
    </tr><tr>
      <td>Audio format:</td><td>{{ form.audioformat }}</td>
    </tr><tr>
      <td>Alternative audio format:</td><td>{{ form.audioformat2 }}</td>
    </tr><tr>
      <td>Sources/Labels:</td><td>{{ form.sources }}</td>
    </tr><tr>
      <td>Personal favorites:</td><td>{{ form.favorites }}</td>
    </tr><tr>
      {% if form.music_remark.errors.as_text %} 
      <td class="errorcell">Remarks:</td><td>{{ form.music_remark }}</td>
      {% else %}
      <td>Remarks:</td><td>{{ form.music_remark }}</td>
      {% endif %}
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td><b>Equipment<b></td><td>&nbsp;</td>
    </tr><tr>
      <td>Computer:</td><td>{{ form.computer }}</td>
    </tr><tr>
      <td>Model:</td><td>{{ form.computermodel }}</td>
    </tr><tr>
      <td>Player:</td><td>{{ form.player }}</td>
    </tr><tr>
      <td>AudioInterface/DAC:</td><td>{{ form.audiointerface }}</td>
    </tr><tr>
      {% if form.soundprocessor.errors.as_text %} 
      <td class="errorcell">Sound processor(s):</td><td>{{ form.soundprocessor }}</td>
      {% else %}
      <td>Sound processor(s):</td><td>{{ form.soundprocessor }}</td>
      {% endif %}
    </tr><tr>
      <td>Other equipment:</td><td>{{ form.other_equipment }}</td>
    </tr><tr>
      <td>Compression:</td><td>{{ form.compression }}</td>
    </tr><tr>
      <td>Equalization:</td><td>{{ form.equalization }}</td>
   </tr><tr>
      {% if form.equipment_remark.errors.as_text %} 
      <td class="errorcell">Remarks:</td><td>{{ form.equipment_remark }}</td>
      {% else %}
      <td>Remarks:</td><td>{{ form.equipment_remark }}</td>
      {% endif %}
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td><b>Rescue equipment<b></td><td>&nbsp;</td>
    </tr><tr>
      <td>Computer:</td><td>{{ form.backup_computer }}</td>
    </tr><tr>
      <td>Model:</td><td>{{ form.backup_computermodel }}</td>
    </tr><tr>
      <td>Player:</td><td>{{ form.backup_player }}</td>
    </tr><tr>
      <td>AudioInterface/DAC:</td><td>{{ form.backup_audiointerface }}</td>
    </tr><tr>
      <td>Sound processor(s):</td><td>{{ form.backup_soundprocessor }}</td>
    </tr><tr>
      <td>Other equipment:</td><td>{{ form.backup_other_equipment }}</td>
    </tr><tr>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
<h2><br />Minimal Sound Requirement Statement</h2>
<p>
  <ul>
    <li class="first">We use the best available transfers of the original recordings.
    <li>We use good quality audio tools and software (interfaces, sound cards, DACs, sound processors).
    <li>We don't play lossy formats (e.g. mp3, aac, youtube-downloads ...).
  </ul>
{% endblock %}
