{% extends 'base.html' %}
{% block content %}
{% block djeditbase %}
{% endblock %}

<div id="info-box-account-data">
  <b class="info-box">Account data</b><br>
  The email address you enter here will be used for login and password
  Reset (it can be an advantage if this address does not match the one
  displayed on the website).
  <br><button type="button" class="info-box" onclick="infotoggle('info-box-account-data')">x</button>
</div>

<div id="info-box-personal">
  <b>Personal</b><br>
  Your personal data that you want to publish. The email address
  (optional) you enter here will be published on the website. We
  protect the address against SPAM with some simple tricks.
  <br><button type="button" class="info-box" onclick="infotoggle('info-box-personal')">x</button>
</div>

<div id="info-box-musica">
  <b>Musica</b><br>
  Here you can say something about your sources, your preferences and
  your style.
  <br><button type="button" class="info-box" onclick="infotoggle('info-box-musica')">x</button>
</div>

<div id="info-box-equipment">
  <b>Equipment for live use</b><br>
  These are probably the most important data for the site. A valuable
  support for new DJs getting their first gear and an inspiration for
  advanced DJs looking for better and proven tools.
  <br>DJs working with turntable(s) please write in unnecessary or
  inappropriate fields: "Not required for analog DJing".
  <br><button type="button" class="info-box" onclick="infotoggle('info-box-equipment')">x</button>
</div>

<div id="info-box-rescue-equipment">
  <b>Rescue equipment</b><br>
  These tools you will need if one or more of your main devices
  fail. So it is logical, that their names must not be identical to
  the main devices (unless you have second identical devices at
  hand).
  <br><button type="button" class="info-box" onclick="infotoggle('info-box-rescue-equipment')">x</button>
</div>

<script>
  function infotoggle(x) {
      var item = document.getElementById(x);
      if (item.style.display == "block") {
	  item.style.display = "none";
      } else {
	  item2 = document.getElementById("info-box-account-data");
	  item2.style.display = "none";
	  item2 = document.getElementById("info-box-personal");
	  item2.style.display = "none";
	  item2 = document.getElementById("info-box-musica");
	  item2.style.display = "none";
	  item2 = document.getElementById("info-box-equipment");
	  item2.style.display = "none";
	  item2 = document.getElementById("info-box-rescue-equipment");
	  item2.style.display = "none";
	  item.style.display = "block";
      }
}
</script>

<p class="margin-bottom">
  <a href="{% url 'djdetail' dj.id %}"><button type="button">&laquo Back</button></a>

  <p class="margin-bottom-small">
    Please note that your data is not visible on the website as long as <b>Number of
    Milongas</b> is set to zero.
  <p class="margin-bottom-small">
    Please name your tools precisely, so that readers can find
    information about them on the Internet.
    <br>
  <p class="margin-bottom">
    To ensure the quality of our website, we have to exclude DJs with
    insufficient entries in relation to our <b>minimum sound
    requirement statement</b> (see below on this page).

  <form role="form" action="" method="post" novalidate>
  {% csrf_token %}
  {% if form.namesort.errors.as_text %}
    {% if form.useremail.errors.as_text == "* Email already known in the system" or form.email.errors.as_text == "* Email already known in the system" %}
      <p class="error">Please correct wrong or missing information<br>Email address already known in the system.</p>
    {% else %}
      <p class="margin-bottom-error">Please correct wrong or missing information.</p>
    {% endif %}
  {% endif %}

  <table id="djedit">
    <tr>
      <td>&nbsp;</td><td>{{ form.namesort.as_hidden }}</td>

    </tr><tr>
      <td><b>Account data<b></td><td>&nbsp;</td><td><button type="button" class="info-icon"
	  onclick="infotoggle('info-box-account-data')"></td>

    </tr><tr>
      {% if form.useremail.errors.as_text %}
      <td class="errorcell">Login email:</td><td class="xsmall">&lowast;</td><td>{{ form.useremail }}</td>
      {% else %}
      <td>Login email:</td><td class="xsmall">&lowast;</td><td>{{ form.useremail }}</td>
      {% endif %}

    </tr><tr>
      <td><p><a href="password"><button type="button">Change password</button></a></p></td>

    <!--
      <td></td><td class="infocell">&rarr; Used for login and password reset (not visible),<br>&nbsp; &nbsp; best if not identical with address on website.</td>
    -->

    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>

    </tr><tr>
      <td><b>Personal<b></td><td>&nbsp;</td><td><button type="button" class="info-icon"
	  onclick="infotoggle('info-box-personal')"></td>

    </tr><tr>
      {% if form.name.errors.as_text %} 
      <td class="errorcell">DJ-Name:</td><td class="xsmall">&lowast;</td><td>{{ form.name }}</td>
      {% else %}
      <td>DJ-Name:</td><td class="xsmall">&lowast;</td><td>{{ form.name }}</td>
      {% endif %}

    </tr><tr>
      {% if form.gender.errors.as_text %} 
      <td class="errorcell">Gender:</td><td class="xsmall">&lowast;</td><td>{{ form.gender }}</td>
      {% else %}
      <td>Gender:</td><td class="xsmall">&lowast;</td><td>{{ form.gender }}</td>
      {% endif %}

    </tr><tr>
      {% if form.country.errors.as_text %}
      <td class="errorcell">Country:</td><td class="xsmall">&lowast;</td><td>{{ form.country }}</td>
      {% else %}
      <td>Country:</td><td class="xsmall">&lowast;</td><td>{{ form.country }}</td>
      {% endif %}

    </tr><tr>
      {% if form.province.errors.as_text %} 
      <td class="errorcell">Region or City:</td><td class="xsmall">&lowast;</td><td>{{ form.province }}</td>
      {% else %}
      <td>Region or City:</td><td class="xsmall">&lowast;</td><td>{{ form.province }}</td>
      {% endif %}

    </tr><tr>
      {% if form.since.errors.as_text %}
      <td class="errorcell">DJ since:</td><td class="xsmall">&lowast;</td><td>{{ form.since }}</td>
      {% else %}
      <td>DJ since:</td><td class="xsmall">&lowast;</td><td>{{ form.since }}</td>
      {% endif %}

    </tr><tr>
      {% if form.number_of_milongas.errors.as_text %}
      <td class="errorcell">Number of Milongas:</td><td class="xsmall">&lowast;</td><td>{{ form.number_of_milongas }}</td>
      {% else %}
      <td>Number of Milongas:</td><td class="xsmall">&lowast;</td><td>{{ form.number_of_milongas }}</td>
      {% endif %}

    </tr><tr>
      {% if form.resident_dj_website.errors.as_text %}
      <td class="errorcell">Resident DJ website:</td><td></td><td>{{ form.resident_dj_website }}</td>
      {% else %}
      <td>Resident DJ website:</td><td></td><td>{{ form.resident_dj_website }}</td>
      {% endif %}

    </tr><tr>
      {% if form.resident_dj_location.errors.as_text %} 
      <td class="errorcell">Resident DJ location:</td><td></td><td>{{ form.resident_dj_location }}</td>
      {% else %}
      <td>Resident DJ location:</td><td></td><td>{{ form.resident_dj_location }}</td>
      {% endif %}

    </tr><tr>
      {% if form.website.errors.as_text %}
      <td class="errorcell">Website:</td><td></td><td>{{ form.website }}</td>
      {% else %}
      <td>Website:</td><td></td><td>{{ form.website }}</td>
      {% endif %}

    </tr><tr>
      {% if form.email.errors.as_text %} 
      <td class="errorcell">Email:</td><td></td><td>{{ form.email }}</td>
      {% else %}
      <td>Email:</td><td></td><td>{{ form.email }}</td>
      {% endif %}

    <!-- </tr><tr><td></td><td></td><td class="infocell">&rarr; Optional email address for contacting you,<br>
        &nbsp; &nbsp; will be obfuscated - against SPAM.</td>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    -->

    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>

    </tr><tr>
      <td><b>Musica<b></td><td>&nbsp;</td><td><button type="button" class="info-icon"
	  onclick="infotoggle('info-box-musica')"></td>

    </tr><tr>
      {% if form.style.errors.as_text %}
      <td class="errorcell">Style:</td><td class="xsmall">&lowast;</td><td>{{ form.style }}</td>
      {% else %}
      <td>Style:</td><td class="xsmall">&lowast;</td><td>{{ form.style }}</td>
      {% endif %}

    </tr><tr>
      {% if form.cortinas.errors.as_text %}
      <td class="errorcell">Tandas and cortinas:</td><td class="xsmall">&lowast;</td><td>{{ form.cortinas }}</td>
      {% else %}
      <td>Tandas and cortinas:</td><td class="xsmall">&lowast;</td><td>{{ form.cortinas }}</td>
      {% endif %}

    </tr><tr>
      {% if form.audioformat.errors.as_text %}
      <td class="errorcell">Audio format:</td><td class="xsmall">&lowast;</td><td>{{ form.audioformat }}</td>
      {% else %}
      <td>Audio format:</td><td class="xsmall">&lowast;</td><td>{{ form.audioformat }}</td>
      {% endif %}

    </tr><tr>
      {% if form.audioformat2.errors.as_text %}
      <td class="errorcell">Alternative audio format:</td><td class="xsmall"></td><td>{{ form.audioformat2 }}</td>
      {% else %}
      <td>Alternative audio format:</td><td class="xsmall"></td><td>{{ form.audioformat2 }}</td>
      {% endif %}

    </tr><tr>
      {% if form.sources.errors.as_text %} 
      <td class="errorcell">Sources/Labels:</td><td class="xsmall">&lowast;</td><td>{{ form.sources }}</td>
      {% else %}
      <td>Sources/Labels:</td><td class="xsmall">&lowast;</td><td>{{ form.sources }}</td>
      {% endif %}

    </tr><tr>
      {% if form.songdisplay.errors.as_text %} 
      <td class="errorcell">Song display:</td><td></td><td>{{ form.songdisplay }}</td>
      {% else %}
      <td>Song display:</td><td></td><td>{{ form.songdisplay }}</td>
      {% endif %}

    </tr><tr>
      {% if form.favorites.errors.as_text %}
      <td class="errorcell">Favored orchestras:</td><td class="xsmall">&lowast;</td><td>{{ form.favorites }}</td>
      {% else %}
      <td>Favored orchestras:</td><td class="xsmall">&lowast;</td><td>{{ form.favorites }}</td>
      {% endif %}

    </tr><tr>
      {% if form.music_remark.errors.as_text %}
      <td class="errorcell">Remarks:</td><td></td><td>{{ form.music_remark }}</td>
      {% else %}
      <td>Remarks:</td><td></td><td>{{ form.music_remark }}</td>
      {% endif %}

    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>

    </tr><tr>
      <td><b>Equipment</b> for live use</td><td>&nbsp;</td><td><button type="button" class="info-icon"
	  onclick="infotoggle('info-box-equipment')"></td>

    </tr><tr>
      {% if form.computer.errors.as_text %}
      <td class="errorcell">Computer/Device:</td><td class="xsmall">&lowast;</td><td>{{ form.computer }}</td>
      {% else %}
      <td>Computer/Device:</td><td class="xsmall">&lowast;</td><td>{{ form.computer }}</td>
      {% endif %}

    </tr><tr>
      {% if form.computermodel.errors.as_text %}
      <td class="errorcell">Model:</td><td class="xsmall">&lowast;</td><td>{{ form.computermodel }}</td>
      {% else %}
      <td>Model:</td><td class="xsmall">&lowast;</td><td>{{ form.computermodel }}</td>
      {% endif %}

    </tr><tr>
      {% if form.musiclibrarymanagement.errors.as_text %}
      <td class="errorcell">Music library management:</td><td class="xsmall">&lowast;</td><td>{{ form.musiclibrarymanagement }}</td>
      {% else %}
      <td>Music library management:</td><td class="xsmall">&lowast;</td><td>{{ form.musiclibrarymanagement }}</td>
      {% endif %}

    </tr><tr>
      {% if form.player.errors.as_text %}
      <td class="errorcell">Player:</td><td class="xsmall">&lowast;</td><td>{{ form.player }}</td>
      {% else %}
      <td>Player:</td><td class="xsmall">&lowast;</td><td>{{ form.player }}</td>
      {% endif %}

    </tr><tr>
      {% if form.audiointerface.errors.as_text %}
      <td class="errorcell">Audio interface/DAC:</td><td class="xsmall">&lowast;</td><td>{{ form.audiointerface }}</td>
      {% else %}
      <td>Audio interface/DAC:</td><td class="xsmall">&lowast;</td><td>{{ form.audiointerface }}</td>
      {% endif %}

    </tr><tr>
      {% if form.equalization.errors.as_text %}
      <td class="errorcell">Equalization:</td><td class="xsmall">&lowast;</td><td>{{ form.equalization }}</td>
      {% else %}
      <td>Equalization:</td><td class="xsmall">&lowast;</td><td>{{ form.equalization }}</td>
      {% endif %}

    </tr><tr>
      {% if form.soundprocessor.errors.as_text %} 
      <td class="errorcell">Equalizer:</td><td class="xsmall">(&lowast;)&nbsp;</td><td>{{ form.soundprocessor }}</td>
      {% else %}
      <td>Equalizer:</td><td class="xsmall">(&lowast;)</td><td>{{ form.soundprocessor }}</td>
      {% endif %}

    </tr><tr>
      {% if form.compression.errors.as_text %}
      <td class="errorcell">Compression:</td><td class="xsmall">&lowast;</td><td>{{ form.compression }}</td>
      {% else %}
      <td>Compression:</td><td class="xsmall">&lowast;</td><td>{{ form.compression }}</td>
      {% endif %}

    </tr><tr>
      {% if form.soundprocessor2.errors.as_text %} 
      <td class="errorcell">Compressor:</td><td class="xsmall">(&lowast;)</td><td>{{ form.soundprocessor2 }}</td>
      {% else %}
      <td>Compressor:</td><td class="xsmall">(&lowast;)</td><td>{{ form.soundprocessor2 }}</td>
      {% endif %}

    </tr><tr>
      {% if form.other_equipment.errors.as_text %}
      <td class="errorcell">Other equipment:</td><td></td><td>{{ form.other_equipment }}</td>
      {% else %}
      <td>Other equipment:</td><td></td><td>{{ form.other_equipment }}</td>
      {% endif %}

    </tr><tr>
      {% if form.equipment_remark.errors.as_text %}
      <td class="errorcell">Remarks:</td><td></td><td>{{ form.equipment_remark }}</td>
      {% else %}
      <td>Remarks:</td><td></td><td>{{ form.equipment_remark }}</td>
      {% endif %}

    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>

    </tr><tr>
      <td><b>Rescue equipment<b></td><td>&nbsp;</td><td><button type="button" class="info-icon"
	  onclick="infotoggle('info-box-rescue-equipment')"></td>

    </tr><tr>
      {% if form.backup_computer.errors.as_text %}
      <td class="errorcell">Computer/Device:</td><td class="xsmall">&lowast;</td><td>{{ form.backup_computer }}</td>
      {% else %}
      <td>Computer/Device:</td><td class="xsmall">&lowast;</td><td>{{ form.backup_computer }}</td>
      {% endif %}

    </tr><tr>
      {% if form.backup_computermodel.errors.as_text %}
      <td class="errorcell">Model:</td><td class="xsmall">&lowast;</td><td>{{ form.backup_computermodel }}</td>
      {% else %}
      <td>Model:</td><td class="xsmall">&lowast;</td><td>{{ form.backup_computermodel }}</td>
      {% endif %}

    </tr><tr>
      {% if form.backup_player.errors.as_text %}
      <td class="errorcell">Player:</td><td class="xsmall">&lowast;</td><td>{{ form.backup_player }}</td>
      {% else %}
      <td>Player:</td><td class="xsmall">&lowast;</td><td>{{ form.backup_player }}</td>
      {% endif %}

    </tr><tr>
      {% if form.backup_audiointerface.errors.as_text %}
      <td class="errorcell">Audio interface/DAC:</td><td class="xsmall"></td><td>{{ form.backup_audiointerface }}</td>
      {% else %}
      <td>Audio interface/DAC:</td><td class="xsmall"></td><td>{{ form.backup_audiointerface }}</td>
      {% endif %}

    </tr><tr>
      {% if form.backup_other_equipment.errors.as_text %}
      <td class="errorcell">Other equipment:</td><td></td><td>{{ form.backup_other_equipment }}</td>
      {% else %}
      <td>Other equipment:</td><td></td><td>{{ form.backup_other_equipment }}</td>
      {% endif %}

    </tr><tr>

    </tr><tr>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr>
  </table>

  <p class="margin-top">
    <a href="{% url 'djdelete'%}"><button type="button">Delete your registration ...</button></a>
    <a href="{% url 'djdetail' dj.id %}"><button type="button">Abort</button></a>
    <button type="submit">Save</button>
</form>
<h2><br>Minimal sound requirement statement</h2>
<p>
  <ul>
    <li class="first">We use good quality transfers of the original recordings.
    <li>We don't play lossy formats (e.g. mp3, aac, youtube-downloads ...).
    <li>We use good quality audio tools and software: e.g. interfaces,
      external sound cards, external DACs, sound processors. We
      consider internal sound cards of mobile computers as not good
      enough.
  </ul>
{% endblock %}
