{% load static %}
<html>
    <head>
        <title>Tango DJs for good sound</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link rel="shortcut icon" type="image/x-icon" href="{%  static 'favicon.ico' %}" />
    </head>
    <body style="padding-left:20%;font-family:Helvetica,Arial,sans-serif;">
        <h2>Sorry for the inconvenience!</h2>
        <p style="color:#00009f;margin:0;">We&rsquo;re performing some maintenance at the moment.</p>
        <p style="color:#00009f;margin:0;">TANGO DJS FOR GOOD SOUND will be back online shortly.</p>
    </body>
</html>
