{% extends 'base.html' %}
{% block content %}

<h1>We provide good sound!</h1>
<p class="margin-bottom">
  Out of respect to the Tango Music, the musicians, the orchestras and
  the cultural heritage of Buenos Aires and Montevideo it is a matter
  of concern to us to play this music as close as possible to the
  original recordings.

<p class="margin-bottom">
  We use the best available recordings in the best available
  quality. We use good quality audio tools and software (interfaces,
  soundcards, DACs, soundprocessors).

<p class="margin-bottom">
  DJs sharing our ideas are invited to join us.

<p class="margin-bottom">
  Organizers and dancers may select DJs and enjoy the sound of the music.

<p class="margin-bottom">
  As for now, there are {{ djList|length }} DJs and DJanes on the list.

{% if djList %}
<h2>Registered DJs:</h2>
<table id="index">
{% for dj in djList %}
<tr>
  <td><a href="/{{ dj.id }}/">{{ dj.name|truncatechars:28 }}</a></td>
  <td>&nbsp;&nbsp;</td>
  {% if dj.province.strip %}
    <td>{{ dj.country.name }}, {{ dj.province|truncatechars:20 }}</td>
  {% else %}
    <td>{{ dj.country.name }}</td>
  {% endif %}
  <td>&nbsp;&nbsp;</td>
  <td>{{ dj.get_style_display }}</td>
  <td>&nbsp;&nbsp;</td>
  {% if dj.gender == "MAL" %}
  <td>DJ since {{ dj.since }}</td>
  {% else %}
  <td>DJane since {{ dj.since }}</td>
  {% endif %}
  </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
