{% extends 'base.html' %}
{% block content %}
<div id="linkpage">
    <h1>Links</h1>
    <a target="_blank" href="http://blog.argentango.ch">blog.argentango.ch</a>
    <p class="p1">Almost a book about sound quality and DJing by Christian Tobler & Monika Diaz (German)</p>
    <a target="_blank" href="https://www.computeraudiophile.com">computeraudiophile.com</a>
    <p class="p1">Forum about computer audio</p>
    <p><a target="_blank" href="https://www.digido.com">digido.com</a>
    <p class="p1">Lots of information concerning audio technology by mastering engineer Bob Katz</p>
    <p><a target="_blank" href="http://harmanhowtolisten.blogspot.ch">harmanhowtolisten.blogspot.ch</a>
    <p class="p1">Listener training by Harman International</p>
    <p><a target="_blank" href="http://jens-ingo.all2all.org">jens-ingo.all2all.org</a>
    <p class="p1">Jens-Ingo shares ideas and ressources about DJing</p>
    <p><a target="_blank" href="http://tangodjduo.nl">tangodjduo.nl</a>
    <p class="p1">Restoring Tangos to their original speed and pitch by Age Akkerman</p>
    <p><a target="_blank" href="https://tango.info">tango.info</a>
    <p class="p1">Big database for different kind of Tango stuff (mainly music)</p>
    <p><a target="_blank" href="http://www.testing1212.co.uk">testing1212.co.uk</a>
    <p class="p1">Glossary of terms for sound and audio engineering</p>
    <p><a target="_blank" href="http://www.thewelltemperedcomputer.com/index.html">thewelltemperedcomputer.com</a>
    <p class="p1">An introduction to computer audio</p>
    <p><a target="_blank" href="https://en.wikipedia.org/wiki/Audio_file_format">wikipedia.org/wiki/Audio_file_format</a>
    <p class="p1">About the audio file formats</p>
    <p><a target="_blank" href="https://de.wikipedia.org/wiki/Liste_von_Audio-Fachbegriffen">wikipedia.org/wiki/Liste_von_Audio-Fachbegriffen</a>
    <p class="p1v">Glossary of terms for sound and audio engineering (German)</p>
</div>
{% endblock %}
