{% extends 'base.html' %}
{% block content %}
<h1>Knowledge</h1>
<div class="linkpage">
<h2>﻿Shared knowledge from other DJs</h2>
<p class="linkpage"><a target="_blank" href="http://blog.argentango.ch">blog.argentango.ch</a><br />Christian Tobler & Monika Diaz (German)
<p class="linkpage"><a target="_blank" href="http://jens-ingo.all2all.org">jens-ingo.all2all.org</a><br />Jens-Ingo Brodesser
<p class="linkpage"><a target="_blank" href="http://tangodjduo.nl">tangodjduo.nl</a><br />Age Akkerman (Tango retuned)
<p class="linkpage"><a target="_blank" href="https://artinfo.is">artinfo.is</a><br />Hlynur Helgason
<p class="linkpage"><a target="_blank" href="http://tangosparks.com">tangosparks.com</a><br />Frank Jin
<p class="linkpage"><a target="_blank" href="https://elespejero.wordpress.com">elespejero.wordpress.com</a><br />El Espejero
<h2>Technology</h2>
<p class="linkpage"><a target="_blank" href="https://www.thewelltemperedcomputer.com/index.html">thewelltemperedcomputer.com</a><br />An introduction to computer audio
<p class="linkpage"><a target="_blank" href="https://www.audiosciencereview.com/forum/index.php?pages/Audio_Equipment_Reviews/">audiosciencerewiew.com</a><br />A list of reviewed DACs and forum
<p class="linkpage"><a target="_blank" href="https://www.digido.com">digido.com</a><br />Lots of information concerning audio technology by mastering engineer Bob Katz
<p class="linkpage"><a target="_blank" href="http://www.testing1212.co.uk">testing1212.co.uk</a><br />Glossary of terms for sound and audio engineering
<p class="linkpage"><a target="_blank" href="https://en.wikipedia.org/wiki/Audio_file_format">wikipedia.org/wiki/Audio_file_format</a><br />About the audio file formats
<p class="linkpage"><a target="_blank" href="https://de.wikipedia.org/wiki/Liste_von_Audio-Fachbegriffen">wikipedia.org/wiki/Liste_von_Audio-Fachbegriffen</a><br />Glossary of terms for sound and audio engineering (German)
<p class="linkpage"><a target="_blank" href="https://www.audiocheck.net">audiocheck.net</a><br />Test your audio equipment and your ears
<p class="linkpage"><a target="_blank" href="http://harmanhowtolisten.blogspot.com">harmanhowtolisten.blogspot.ch</a><br />Listener training by Harman International
<h2>Data sources and online music shops</h2>
<p class="linkpage"><a target="_blank" href="https://tango.info">tango.info</a><br />Big database for different kind of Tango stuff (mainly music)
<p class="linkpage"><a target="_blank" href="https://tangotimetravel.be">tangotimetravel.be</a><br />Onlineshop
<p class="linkpage"><a target="_blank" href="https://www.tangotunes.com">tangotunes.com</a><br />Onlineshop
<p class="linkpage"><a target="_blank" href="https://www.tango-dj.at/database/splash.htm">tango-dj.at</a><br />Onlineshop
</div>
{% endblock %}