{% extends 'base.html' %}
{% block content %}

<h1>The mission</h1>

<p class="margin-bottom">
  We are two Tango-DJs located in Switzerland aiming for a good sound
  in milongas.

<p class="margin-none">
  By creating this website we hope to bring together DJs and milonga
  organizers who share this aim:
  <ul>
    <li>DJs have the opportunity to share or explain their instruments, equipment and ideas.
    <li>Beginner and advanced DJs find inspiration to improve their work concerning sound quality.
    <li>Milonga organizers find support in locating DJs who provide good sound.
  </ul>

<p class="margin-bottom">
<p>
  We trust in our DJ-colleagues' honesty and accuracy concerning data
  entry. We do not assume responsibility for their statements.

<p  class="margin-top">
  <br >© 2017 - {{CURRENT_YEAR}} Albert Alt (DJ Alberto) and René Maurer (DJ René).
  <br >Version {{ APP_VERSION }}. All rights reserved. Please see our <a href="/copyright">copyright</a> notice.

{% endblock %}
