{% extends 'base.html' %}
{% block content %}
{% load static %}
{% spaceless %}
<p>
  <br /><br /><b>Dokumente</b>
  <ul>
    <li class="first">Handbuch und HowTo: <a target="_blank" href="{% static 'tdjsfgs.docx' %}">Word Download</a> |
    <a target="_blank" href="{% static 'tdjsfgs.pdf' %}">PDF Anzeigen</a>
    <li class="first">Testdrehbuch aktuell: <a target="_blank" href="{% static 'tdjsfgs_testing_current.xls' %}">Excel Download</a>
  </ul>
</p>

<p>
  <br /><br /><b>Github</b>
  <ul>
    <li class="first">renma/tdjsfgs: <a target="_blank" href="https://github.com/renma/tdjsfgs">Repository</a>
  </ul>
</p>

<p>
  <br /><br /><b>Releases</b>
  <ul>
    <li class="first">Version 1.3.0 | 2018-03-xx Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_126.pdf' %}">1.2.6</a>
    <li class="first">Version 1.2.0 | 2018-03-06 Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_118.pdf' %}">1.1.8</a>
    <li class="first">Version 1.1.2 | 2018-02-09 Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_112.pdf' %}">1.1.2</a>
    <li class="first">Version 1.1.0 | 2018-01-30 Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_10a.pdf' %}">1.0.a</a> 
    <li class="first">Version 1.0.0 | 2017-12-28 Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_066.pdf' %}">0.6.6</a>
  </ul>
</p>

{% endspaceless %}
{% endblock %}
