{% extends 'base.html' %}
{% block content %}
{% load static %}
{% spaceless %}
<p>
  <br /><br /><b>Dokumente</b>
  <ul>
    <li class="first">Handbuch und HowTo: <a target="_blank" href="{% static 'tdjsfgs.docx' %}">Word/Download</a> |
    <a target="_blank" href="{% static 'tdjsfgs.pdf' %}">PDF/Anzeigen</a>.
    <li class="first">Testdrehbuch: <a target="_blank" href="{% static 'tdjsfgs_testing.xls' %}">Excel/Download</a> |
    <a target="_blank" href="{% static 'tdjsfgs_testing.pdf' %}">PDF/Anzeigen</a>.
  </ul>
</p>

<p>
  <br /><br /><b>Version 1</b>
  <ul>
    <li class="first">Site Test PASSED V0.66.
    <li class="first">Released 2017-12-28.
  </ul>
</p>

<p>
  <br /><br /><b>Todo für Version 1</b>
  <ul>
  </ul>
</p>

<p>
  <br /><br /><b>Ideen und offene Punkte</b>
  <ul>
    <li class="first">Contact: Nur Initialen sind nicht erlaubt?
    <li class="first">Contact: Automatische Registrierung.
    <li class="first">DJ: Alert bei Logout ohne gesicherte Änderungen (session data).
    <li class="first">DJ: Registrierung löschen.
    <li class="first">DJ: Zusätzliches Feld wo der DJ etwas über sich sagen kann.
    <li class="first">Edit: Bei Fehler zum Fehler scrollen.
    <li class="first">Edit: Testen ob public Adresse schon existiert?
    <li class="first">Login: Email aus Formular übernehmen für Passwort Reset.
  </ul>
</p>

<p>
  <br /><br /><b>Done</b>
  <ul id="todo">
    <li class="first">About: Inhalt definieren.
    <li class="first">About: Inhalt einpflegen und layouten.
    <li class="first">Admin Link korrigieren falls als admin eingeloggt.
    <li class="first">Admin: Login mit Email Adresse.
    <li class="first">Automatische Erneuerung der Zertifikate auf centaurus.
    <li class="first">Centarus: Cronjob für einen Auto-Restart der Seite (=> tdjs2).
    <li class="first">Centarus: Emails über tangodjsforgoodsound verschicken.
    <li class="first">Centaurus: Cronjob um abgelaufene Session zu löschen.
    <li class="first">Contact: Bessere Rückmeldung falls Datum oder "big orchestra" nicht richtig eingegeben wird.
    <li class="first">Contact: Form nicht löschen, wenn Datum oder "big orchestra" falsch eingegeben wurde.
    <li class="first">Contact: Minimal Sound Requirements ergänzen mit Best vailable Recordings.
    <li class="first">Contact: Standard Email im Handbuch eintragen.
    <li class="first">DB: Leere DJ Datensätze zulassen (aber nicht anzeigen).
    <li class="first">DJ: Anderes layout? (Liste links, Inhalt rechts).
    <li class="first">DJ: Bessere Rückmeldung wenn DJ gespeichert wird.
    <li class="first">DJ: Change password.
    <li class="first">DJ: Editmaske Eingabefelder müssen länger sein.
    <li class="first">DJ: Editmaske mit Button versehen um nach Home oder Detail zu gelangen?
    <li class="first">DJ: Editmaske unterteilen so wie in DJ Details.
    <li class="first">DJ: Email Adresse "verstecken".
    <li class="first">DJ: Form zum Eintragen (ok) und Speichern (fehlt) der Daten implementieren.
    <li class="first">DJ: Num longer 10-er Schritte und nicht negativ.
    <li class="first">DJ: Remark Feld fehlt bei Musica und Equipment.
    <li class="first">DJ: Submit Button muss Save heissen.
    <li class="first">DJ: Verbesserung von Validate: Email, eventuell .
    <li class="first">DJ: Wie sortieren? (=> country / namesort)
    <li class="first">DJ: Zusätzliches Required Feld mit Real Namen?
    <li class="first">Feedback Anfrage: JIB.
    <li class="first">Feedback Anfrage: Zankl.
    <li class="first">HTTPS.
    <li class="first">Menu: Edit oder Username als Menupunkt fürs editieren
    <li class="first">Site: Absenderadresse auf contact@ äandern.
    <li class="first">Site: CSS erstellen und einbinden.
    <li class="first">Site: Destktop icon.
    <li class="first">Site: Domain reservieren, wer bezahlt das?
    <li class="first">Site: Englisch prüfen (von jemandem der das beurteilen kann).
    <li class="first">Site: Facebook: Gruppe tangodjsforgoodsound?
    <li class="first">Site: Facebook: Wie verbinden wir die Seite mit Facebook?
    <li class="first">Site: Favicon implementiert.
    <li class="first">Site: Finales css.
    <li class="first">Site: Finales favicon.
    <li class="first">Site: Finales layout.
    <li class="first">Site: Fix broken W10/Edge fonts.
    <li class="first">Site: Konzept überdenken, anpassen, Cortinas als must?
    <li class="first">Site: Konzept überdenken, anpassen, was ist mit 320kBit/s MP3?
    <li class="first">Site: Password reset: check if email address is in system.
    <li class="first">Site: Redirect nach Edit falls numMilongas=0 oder DJ Name nicht vorhanden.
    <li class="first">Site: Schriftgrössen angleichen.
    <li class="first">Site: Session schliessen (logout) nach Browser close.
    <li class="first">Site: Title.
    <li class="first">Site: URL definieren (.org, .ch, ...).
    <li class="first">Site: Unify color and width of input elements.
    <li class="first">Site: Version file support.
    <li class="first">Site: Webspace mieten, wer bezahlt das?
    <li class="first">Test: Accounts einrichten => OK(5).
    <li class="first">Versteckte TODO Seite kreieren.
    <li class="first">Wie publizieren wir die Site? Gezielt streuen/animpfen?
    <li class="first">Z: René fragt Béatrice ob die Seite nicht elitär und ausschliessend wirkt.
  </ul>
</p>
{% endspaceless %}
{% endblock %}
