{% extends 'base.html' %}
{% block content %}
{% load static %}
{% spaceless %}
<p>
  <br /><br /><b>Dokumente</b>
  <ul>
    <li class="first">Handbuch und HowTo: <a target="_blank" href="{% static 'tdjsfgs.docx' %}">Word Download</a> |
    <a target="_blank" href="{% static 'tdjsfgs.pdf' %}">PDF Anzeigen</a>
    <li class="first">Testdrehbuch 1.6.0: <a target="_blank" href="{% static 'tdjsfgs_testing_160.xlsx' %}">Excel Download</a>
  </ul>
</p>

<p>
  <br /><br /><b>Github</b>
  <ul>
    <li class="first">renma/tdjsfgs: <a target="_blank" href="https://github.com/renma/tdjsfgs">Repository</a>
  </ul>
</p>

<p>
  <br /><br /><b>Releases</b>
  <ul>
    <li class="first">Version 1.6.0 2022-05-22
      &nbsp; <a target="_blank" href="{% static 'releasenotes_160.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_160.pdf' %}">Site Test 1.6.0</a>
    <li class="first">Version 1.5.9 2022-04-24
      &nbsp; <a target="_blank" href="{% static 'releasenotes_159.txt' %}">Release notes</a>
      &nbsp;  No Site Test

    <li class="first">Version 1.5.8 2021-06-29
      &nbsp; <a target="_blank" href="{% static 'releasenotes_158.txt' %}">Release notes</a>
      &nbsp;  No Site Test

    <li class="first">Version 1.5.7 2021-01-15
      &nbsp; <a target="_blank" href="{% static 'releasenotes_157.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_157.pdf' %}">Site Test 1.5.7</a>

    <li class="first">Version 1.5.6 2020-11-28
      &nbsp; <a target="_blank" href="{% static 'releasenotes_156.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_156.pdf' %}">Site Test 1.5.6</a>

    <li class="first">Version 1.5.5 2020-11-19
      &nbsp; <a target="_blank" href="{% static 'releasenotes_155.txt' %}">Release notes</a>
      &nbsp;  No Site Test

    <li class="first">Version 1.5.4 2020-11-08
      &nbsp; <a target="_blank" href="{% static 'releasenotes_154.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_153.1108.pdf' %}">Site Test AA 1.5.3.1108</a>

    <li class="first">Version 1.5.3 2019-03-20
      &nbsp; <a target="_blank" href="{% static 'releasenotes_153.txt' %}">Release notes</a>
      &nbsp; No Site Test

    <li class="first">Version 1.5.2 2019-02-21
      &nbsp; <a target="_blank" href="{% static 'releasenotes_152.txt' %}">Release notes</a>
      &nbsp; No Site Test

    <li class="first">Version 1.5.0 2019-02-07
      &nbsp; <a target="_blank" href="{% static 'releasenotes_150.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_150.pdf' %}">Site Test 1.5.0</a>

    <li class="first">Version 1.4.5 2019-01-24
      &nbsp; <a target="_blank" href="{% static 'releasenotes_145.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_145.pdf' %}">Partial Site Test 1.4.5</a>

    <li class="first">Version 1.4.4 2019-01-16
      &nbsp; <a target="_blank" href="{% static 'releasenotes_144.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_144.pdf' %}">Site Test 1.4.4</a>

    <li class="first">Version 1.4.0 2018-12-23
      &nbsp; <a target="_blank" href="{% static 'releasenotes_140.txt' %}">Release notes</a>
      &nbsp; <a target="_blank" href="{% static 'tdjsfgs_testing_140.pdf' %}">Site Test 1.4.0</a>

    <li class="first">Version 1.3.6 2018-10-02 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_136.pdf' %}">1.3.6</a>

    <li class="first">Version 1.3.3 2018-04-20 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_133.pdf' %}">1.3.3</a>

    <li class="first">Version 1.3.0 2018-03-20 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_127.pdf' %}">1.2.7</a>

    <li class="first">Version 1.2.0 2018-03-06 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_118.pdf' %}">1.1.8</a>

    <li class="first">Version 1.1.2 2018-02-09 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_112.pdf' %}">1.1.2</a>

    <li class="first">Version 1.1.0 2018-01-30 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_10a.pdf' %}">1.0.a</a> 

    <li class="first">Version 1.0.0  2017-12-28 &nbsp; Site Test
      <a target="_blank" href="{% static 'tdjsfgs_testing_066.pdf' %}">0.6.6</a>
  </ul>
</p>

<p>
  <br /><br /><b>Logs</b>
  <ul>
    <li class="first">Seitenzugriffe: <a target="_blank" href="/logfile">tdjsfgs.log</a>
  </ul>
</p>

<p>
  <br /><br /><b>Diverse Dokumente</b>
  <ul>
    <li class="first">PDF:
      <a target="_blank" href="{% static 'Kontakte_zu_Usern_o_Publik_2019-01-12.pdf' %}">Kontakte_zu_Usern_o_Publik_2019-01-12</a>
    <li class="first">PDF:
      <a target="_blank" href="{% static 'Kontakte_und_Reaktiokion_nach_Release_1.3.6.pdf' %}">Kontakte und Reaktiokion nach Release 1.3.6</a>
  </ul>
</p>

{% endspaceless %}
{% endblock %}
