{% extends 'base.html' %}
{% block content %}
<div id="technology">
    <h1>Technical equipment used by DJs providing good sound</h1>
    {% if djList %}
    <table>
        {% comment %}
        <tr>
            <th>DJ</th>
            <th>Computer</th>
            <th>Player</th>
            <th>Audio interface/DAC</th>
        </tr>
        {% endcomment %}
        {% for dj in djList %}
        </tr><tr>
             <td><a href="/{{ dj.id }}/">{{ dj.name|truncatechars:28 }}</a></td>
             <td>{{ dj.get_computer_display }}</td>
             <td>{{ dj.player|truncatechars:28 }}</td>
             <td>{{ dj.audiointerface|truncatechars:100 }}</td>
         </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
