{% extends 'base.html' %}
{% block content %}

<h1>TODO</h1>

<p>
  <b>Resultate Treffen vom 28.10.2017</b>
  <ul class="todo">
    <li>Keine Contact-Email-Adresse (im About) zum Beginnen => OK.
    <li class="first">About: mit Namen ergänzen => OK.
    <li class="first">Contact Workflow => 1. René DB Eintrag und Email an Alb, 2. Albi Email an DJ.
    <li class="first">Contact: Sagen, dass sich DJs nachher auf Webseite eintragen können => OK.
    <li class="first">Contact: Schreieben dass man sich jederzeit wieder löschen kann => OK.
    <li class="first">Automatische Registrierung y/n => Im Moment Nein.
    <li class="first">Test: Accounts einrichten => OK(5).
    <li class="first">Site: Schriftgrössen angleichen.  
    <li class="first">Albi fragt wegen Englisch.
    <li class="first">René fragt Béatrice ob die Seite nicht elitär und ausschliessend wirkt.
    <li class="first">Albi bittet JIB und JD um feedback.
    <li class="first">René bittet Zankl um feedback.
  </ul>
</p>

<p>
  <br /><br /><b>Todo</b>
  <ul>
    <li>About: Inhalt definieren.
    <li class="first">About: Inhalt einpflegen und layouten.
    <li class="first">Contact: Automatische Registrierung.
    <li class="first">DJ: Anderes layout? (Liste links, Inhalt rechts).
    <li class="first">DJ: Registrierung löschen.
    <li class="first">DJ: Zusätzliches Feld wo der DJ etwas über sich sagen kann?
    <li class="first">Site: Emails verstecken mit meinem javascript-gugus-script.
    <li class="first">Site: Englisch prüfen (von jemandem der das beurteilen kann).
    <li class="first">Site: Finales css.
    <li class="first">Site: Finales layout.
    <li class="first">Site: Testen.
    <li class="first">Site: Wie publizieren wir die Site? Geziehlt streuen/animpfen?
    <li class="first">User: Login mit Email Adresse.
    <li class="first">Z: Albi fragt wegen Englisch.
    <li class="first">Z: René fragt Béatrice ob die Seite nicht elitär und ausschliessend wirkt.
  </ul>
</p>

<p>
  <br /><br /><b>Done</b>
  <ul id="todo">
    <li class="first">Admin Link korrigieren falls als admin eingeloggt.
    <li class="first">Centarus: Cronjob für einen Auto-Restart der Seite (=> tdjs2).
    <li class="first">Centarus: Emails über tangodjsforgoodsound verschicken.
    <li class="first">Contact: Bessere Rückmeldung falls Datum oder "big orchestra" nicht richtig eingegeben wird.
    <li class="first">Contact: Form nicht löschen, wenn Datum oder "big orchestra" falsch eingegeben wurde.
    <li class="first">Contact: Minimal Sound Requirements ergänzen mit Best vailable Recordings.
    <li class="first">DB: Leere DJ Datensätze zulassen (aber nicht anzeigen).
    <li class="first">DJ: Bessere Rückmeldung wenn DJ gespeichert wird.
    <li class="first">DJ: Editmaske Eingabefelder müssen länger sein.
    <li class="first">DJ: Editmaske mit Button versehen um nach Home oder Detail zu gelangen?
    <li class="first">Site: Finales favicon.
    <li class="first">DJ: Editmaske unterteilen so wie in DJ Details.
    <li class="first">DJ: Form zum Eintragen (ok) und Speichern (fehlt) der Daten implementieren.
    <li class="first">DJ: Remark Feld fehlt bei Musica und Equipment.
    <li class="first">DJ: Submit Button muss Save heissen.
    <li class="first">DJ: Wie sortieren? (=> country / namesort)
    <li class="first">DJ: Zusätzliches Required Feld mit Real Namen?
    <li class="first">Menu: Edit oder Username als Menupunkt fürs editieren
    <li class="first">Site: CSS erstellen und einbinden.
    <li class="first">Site: Domain reservieren, wer bezahlt das?
    <li class="first">Site: Facebook: Gruppe tangodjsforgoodsound?
    <li class="first">Site: Destktop icon.
    <li class="first">Site: Facebook: Wie verbinden wir die Seite mit Facebook?
    <li class="first">Site: Favicon implementiert.
    <li class="first">Site: Title.
    <li class="first">Site: Konzept überdenken, anpassen, Cortinas als must?
    <li class="first">Site: Konzept überdenken, anpassen, was ist mit 320kBit/s MP3?
    <li class="first">Site: URL definieren (.org, .ch, ...).
    <li class="first">Site: Unify color and width of input elements.
    <li class="first">Site: Version file support.
    <li class="first">Site: Webspace mieten, wer bezahlt das?
    <li class="first">Versteckte TODO Seite kreieren.
  </ul>
</p>

{% endblock %}
