{% extends 'base.html' %}
{% block content %}

<h1>TODO</h1>

<p><br />
  <ul id="small">
    <li>Link zur <a href ="/admin">Admin Seite</a>.
  </ul>

<p><br />
  <ul>
    <li>- About: Inhalt definieren.
    <li>- About: Inhalt einpflegen und layouten.
    <li>- Contact: Bessere Rückmeldung falls Datum oder "big orchestra" nicht richtig eingegeben wird.
    <li>- Contact: Form nicht löschen, wenn Datum oder "big orchestra" falsch eingegeben wurde.
    <li>- Contact: Automatische Registrierung.
    <li>- Contact: Minimal Sound Requirements ergänzen mit Best vailable Recordings.</strike>
    <li>- <strike>DB: Leere DJ Datensätze zulassen (aber nicht anzeigen).</strike>
    <li>- DJ: Form zum Eintragen (oK) und Speichern (fehlt) der Daten implementieren.
    <li>- DJ: Zusätzliches Feld wo der DJ etwas über sich sagen kann?
    <li>- DJ: Anderes layout (Liste links, Inhalt rechts).
    <li>- DJ: Remark Feld fehlt bei Musica und Equipment.
    <li>- <strike>DJ: Submit Button muss Save heissen.</strike>
    <li>- Site: URL definieren (.org, .ch, ...).
    <li>- Site: Domain reservieren, wer bezahlt das?
    <li>- Site: Webspace mieten, wer bezahlt das?
    <li>- <strike>Site: Facebook: Wie verbinden wir die Seite mit Facebook?</strike>
    <li>- <strike>Site: Facebook: Gruppe tangodjsforgoodsound?</strike>
    <li>- <strike>Site: Konzept überdenken, anpassen, was ist mit 320kBit/s MP3?</strike>
    <li>- <strike>Site: Konzept überdenken, anpassen, Cortinas als must?</strike>
    <li>- <strike>Versteckte TODO Seite kreieren</strike>
    <li>- <strike>Admin Link korrigieren falls als admin eingeloggt.</strike>
  </ul>
      
{% endblock %}
