{% extends 'base.html' %}
{% block content %}

<h1>TODO</h1>

<p><br />
  <ul id="small">
    <li>Link zur <a href ="/admin">Admin Seite</a>.
  </ul>

<p><br />
  <ul>
    <li>- About: Inhalt definieren.
    <li>- About: Inhalt einpflegen und layouten.
    <li>- Contact: Bessere Rückmeldung falls Datum oder "big orchestra" nicht richtig eingegeben wird.
    <li>- Contact: Form nicht löschen, wenn Datum oder "big orchestra" falsch eingegeben wurde.
    <li>- Contact: Automatische Registrierung.
    <li>- DB: Leere DJ Datensätze zulassen (aber nicht anzeigen).
    <li>- DJ: Form zum Eintragen der Daten implementiren.
    <li>- DJ: Zusätzliches Feld wo der DJ etwas über sich sagen kann?
    <li>- DJ: Anderes layout (Liste links, Inhalt rechts).
    <li>- Site: URL definieren (.org, .ch, ...).
    <li>- Site: Domain reservieren, wer bezahlt das?
    <li>- Site: Webspace mieten, wer bezahlt das?
    <li>- Site: Konzept überdenken, anpassen, was ist mit 320kBit/s MP3?
    <li>- Site: Konzept überdenken, anpassen, Cortinas als must?
    <li>- <strike>Versteckte TODO Seite kreieren</strike>
  </ul>
      
{% endblock %}
